<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 second">

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread][%-5level] %mdc %logger.%M:%L - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework" level="warn" />
	
	<logger name="org.apache.http" level="debug" />
	
	<logger name="org.apache" level="info" />
	
	<logger name="org.hibernate" level="info" />
	
	<logger name="org.mybatis" level="info" />
	
	<logger name="springfox" level="warn" />

	<root>
		<level value="debug" />
		<appender-ref ref="consoleAppender" />
	</root>
	
</configuration>